.galery{
	position: absolute;
	top: 3313px;
	width: 100%;
	text-align: center;
}
.galery>h1{
	margin: 40px;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 95px;
color: #000000;
}
.image1>img{
	position: absolute;
	left: 0;
	width: 1090px;
height: 634px;
}
.image2>img{
	position: absolute;
width: 810px;
height: 634px;
left: 1090px;
}
.image3>img{
	position: absolute;
width: 597px;
height: 486px;
left: 0px;
top: 808px;

}
.image4>img{
	position: absolute;
width: 1303px;
height: 486px;
left: 597px;
top: 808px;
}
.image5>img{
	position: absolute;
	width: 100%;
height: 634px;
	left: 0;
	top: 1290px;
}