*{
	margin: 0;
}
.header{
	z-index: 1;
	position: fixed;
	left: 0;
	width: 100%;
	height: 100px;
	background: black;
	margin: 0;
}

.TextLogo >a {
	position: absolute;
	width: 141px;
	height: 36px;
	left: 100px;
	top: 30px;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	cursor: pointer;
	text-decoration: none;
	color: white;
}
.header > nav > ul{
	position: absolute;
	width: 548px;
	height: 36px;
	left: 1380px;
	top: 30px;
	color: white;
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */


	color: #000000;
}
.header > nav > ul > li > a {
	text-decoration: none;
	color: white;
}
.header > nav > ul > li {

width: 82px;
height: 36px;
margin: 80px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-decoration: none;
list-style: none;
display: inline ;
cursor: pointer;
color: white;
}

.centerMenu{
	position: absolute;
width: 578px;
height: 125px;
left: 701px;
top: 0px;
z-index: 2;
background: #FCAC45;
border-radius: 25px;
	color: white;
	transition: height 1s;
	transform: translateY(10px);
	background: #fcac45;
}
.menu_up{
	transition:  0.2s;
	height: 56px;
font-family: 'Oswald';
font-weight: 300 !important;
font-size: 16px !important;
line-height: 26px !important;
cursor: pointer;


color: #000000;
}
.menu_up > a{
	transition:  0.2s;
	height: 56px;
font-family: 'Oswald';
font-weight: 300 !important;
font-size: 16px !important;
line-height: 26px !important;
cursor: pointer;


color: #000000;
}
.menu_up > h1 > a {
	text-decoration: none;
	color: black;
}
.menu_up.a1{
	position: absolute;
width: 168px;
left: 50px;
top: 45px;

}
.menu_up.a2{
	position: absolute;
width: 80px;
left: 242px;
top: 45px;
}
.menu_up.a3{
	position: absolute;
width: 185px;
left: 378px;
top: 45px;
}
.cross{
	position: absolute;
width: 20px;
height: 20px;
left: 543px;
top: 12px;

}
.menu_up:hover{
	border-bottom: solid black 6px;
}




.menuPetSub{
	display: none;
	position: absolute;
width: 227px;
height: 366px;
left: -50px;
top: 40px;

background: #FCAC45;
border-radius: 25px;
}

.menuPhoneSub{
	display: none;
	position: absolute;
width: 227px;
height: 180px;
left: -27px;
top: 40px;

background: #FCAC45;
border-radius: 25px;
}
.menu_up.a3:hover > div {
	display: block;
}
.elementPhone.a1{
	transition: 0.2s;
	position: absolute;
width: 200px;
height: 46px;
left: 10px;
top: 53px;
text-align: center;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */	
}
.elementPhone.a2{
transition: 0.2s;
position: absolute;
width: 200px;
height: 46px;
left: 10px;
top: 110px;
text-align: center;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;

}
.elementPhone:hover{
	border-bottom: solid black 6px;
}

.elementPet.a1{
	position: absolute;
width: 100px;
height: 46px;
left: 62px;
top: 53px;
text-align: center;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;

}
.elementPet.a2{

position: absolute;
width: 100px;
height: 46px;
left: 62px;
top: 110px;
text-align: center;
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;

}
.elementPet.a3{
	text-align: center;
	position: absolute;
width: 100px;
height: 46px;
left: 62px;
top: 167px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;

}

.elementPet.a4{
	left: 62px;
	text-align: center;
	position: absolute;
width: 100px;
height: 46px;
top: 224px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;

}

.elementPet.a5{
	left: 62px;
	text-align: center;
	position: absolute;
width: 100px;
height: 46px;
top: 275px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #000000;

}
.elementPet{
	transition: 0.2s;
}
.elementPet:hover{
	border-bottom: solid black 6px;
}
.menu_up.a1:hover .menuPetSub{
	display: block;
}
nav > ul > li:hover{
	border-bottom: solid #fcac45 6px;
}
nav > ul > li{
	transition: 0.4s;
}